@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --gradientPrimary: linear-gradient(45deg, #003877 0%, #357afc 100%);
  --gradientPrimaryInverse: linear-gradient(45deg, #357afc 0%, #003877 100%);
  --primary: #003877;
  --dark: rgb(33, 34, 49);
  --light: rgb(255, 255, 255);
  --accent: rgb(217, 4, 41);
  --accent-2: rgb(141, 153, 174);
  --success: rgb(76, 224, 109);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*
 * === COMMON STYLES ===
 * Estilos en común entre varios elementos
*/
.wrapper {
  min-width: calc(100vw - 30px);
  max-width: calc(100vw - 30px);
  margin-left: auto;
  margin-right: auto;
}

/* === HEADER + NAVBAR === */
.header {
  width: 100%;
  height: 100vh;
  padding: 20px 0 0 0;
  background: var(--light);
}
.header .menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  background: var(--gradientPrimary);
  transition: all 200ms ease-in-out;
}
.header .menu .logo {
  display: flex;
  align-items: center;
  height: 40px;
}
.header .menu .logo p {
  display: block;
  margin-left: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
}
.header .menu .navbar {
    display: flex;
    align-items: center;
}
.header .menu .navbar li {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: auto;
  cursor: pointer;
  padding-left: 0;
  transition: all 200ms ease-in-out;
  font-size: 1em;
  margin-bottom: 0;
  width: auto;
  height: auto;
  margin-left: 0;
  line-height: inherit;
  list-style: none;
  margin-left: 30px;
  padding-bottom: 6px;
  color: var(--light);
  background: var(--dark);
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
}
.header .menu .navbar li:hover {
  background: var(--light);
  color: var(--dark);
}

/* === HERO === */
.carousel {
    display: flex;
    height: calc(100vh - 80px);
    margin-top: 60px;
}
#imagen {
    width: 100%;
    background-size: cover;
}
#avanzar {
    width: 50px;
}
#retroceder {
    width: 50px;
}

/* === EXPERIENCE === */
.section.experience {
    width: 100%;
    height: calc(100vh - 80px)
}
.section .section-content.section-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    padding: 30px;
}
.experience .card-category {
    padding: 15px;
    border-radius: 10px;
    background: rgb(43, 45, 66, 0.4);
}
.section.experience h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--primary);
    padding: 40px;
}
.section.experience p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    font-size: 1.2em;
}
.experience .card-category h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: var(--dark);
    padding: 10px;
}
.experience .card-category p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
}
.experience .card-category h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    color: var(--dark);
    padding: 10px;
}
.experience .card-category .imagen {
    width: 100%;
}