@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --gradientPrimary: linear-gradient(45deg, #003877 0%, #357afc 100%);
  --primary: #003877;
  --dark: rgb(33, 34, 49);
  --light: rgb(255, 255, 255);
  --accent: rgb(226, 226, 226);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*
 * === COMMON STYLES ===
 * Estilos en común entre varios elementos
*/
.wrapper {
  display:flex;
  flex-direction: column;
  height: calc(100vh - 80px)
}

/* === HEADER + NAVBAR === */
.header {
  width: 100%;
  height: 100vh;
  padding: 20px 0 0 0;
  background: var(--light);
}
.header .menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  background: var(--gradientPrimary);
  transition: all 200ms ease-in-out;
}
.header .menu .logo {
  display: flex;
  align-items: center;
  height: 40px;
}
.header .menu .logo p {
  display: block;
  margin-left: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
}
.header .menu .navbar {
    display: flex;
    align-items: center;
}
.header .menu .navbar li {
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  margin-bottom: 20px;
  margin-left: auto;
  cursor: pointer;
  padding-left: 0;
  transition: all 200ms ease-in-out;
  font-size: 1em;
  margin-bottom: 0;
  width: auto;
  height: auto;
  margin-left: 0;
  line-height: inherit;
  list-style: none;
  margin-left: 30px;
  padding-bottom: 6px;
  color: var(--light);
  background: var(--dark);
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
}
.header .menu .navbar li:hover {
  background: var(--accent);
  color: var(--dark);
}

/* === HERO === */
.carousel {
    display: flex;
    height: calc(100vh - 80px);
    margin-top: 60px;
}
#imagen {
    width: 100%;
    background-size: cover;
}
#avanzar {
    width: 50px;
}
#retroceder {
    width: 50px;
}

/* === EXPERIENCE === */
.section.experience {
    width: 100%;
    height: calc(100vh - 80px);
}
.section .section-content.section-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 100px;
    justify-content: center;
}
.experience .card-category {
    padding: 15px;
    border-radius: 10px;
    background: var(--accent);
}
.section.experience h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--primary);
    margin-top: 60px;
}
.section.experience p {
    align-items: center;
    color: var(--dark);
    font-size: 1.2em;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.experience .card-category h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: var(--dark);
    margin-top: 10px;
}
.experience .card-category p {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
}
.experience .card-category h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    color: var(--dark);
}
.experience .card-category .imagen {
    width: 100%;
}

/* === ABOUT ME === */
.section.about {
    width: 100%;
    height: calc(100vh - 80px);
    background: var(--accent);
}
.section.about h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--primary);
    margin-top: 60px;
}
.about .card-category {
    padding: 30px;
    border-radius: 10px;
    background: var(--light);
    display: flex;
    width: 70%;
    height: 700px;
    margin: auto;
}
.about .card-category .imagen {
    width: 50%;
}
.about .card-category .texto {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 40px;
}
.about .card-category .texto p{
    font-size: 1.5em;
}

/* === SKILLS === */
.section.skills {
    width: 100%;
    height: calc(100vh - 80px);
    background: var(--accent);
}
.section.skills h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--primary);
    margin-top: 60px;
}
.skills .card-category {
    padding: 30px;
    border-radius: 10px;
    background: var(--light);
    display: flex;
    width: 70%;
    height: 700px;
    margin: auto;
}
.skills .card-category .imagen {
    width: 50%;
}
.skills .card-category .texto {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 40px;
}
.skills .card-category .texto p{
    font-size: 1.5em;
}

/* === CONTACT ME === */
.section.contact {
    width: 100%;
    height: calc(100vh - 80px);
    background: var(--light);
}
.section.contact h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: var(--primary);
    margin-top: 60px;
}
.input-with-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 70px;
}
.input-with-button input {
    flex: 1;
    border: none;
    outline: none;
    padding: 20px 500px;
    border-radius: 5px;
    text-align: center;
    background: var(--accent);
}
.input-with-button input::placeholder {
    font-size: 18px;
    color: var(--dark);
}
.input-with-button .enviar {
    display: block;
    border: none;
    background: var(--dark);
    color: var(--light);
    padding: 20px 40px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
.input-with-button .enviar:hover {
    background: var(--accent);
    color: var(--dark);
}
.footer {
    display: flex;
    align-items: center;
    margin-top: 200px;
}
.footer li {
    height: 60px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    font-size: 1em;
    height: auto;
    list-style: none;
    color: var(--dark);
    margin: auto;
}
.footer .instagram {
    color: var(--light);
    padding: 20px 40px;
    background: var(--dark);
    border-radius: 5px;
}
.footer .whatsapp {
    color: var(--light);
    padding: 20px 40px;
    background: var(--dark);
    border-radius: 5px;
}
.footer .instagram:hover {
    background: var(--accent);
    color: var(--dark);
}
.footer .whatsapp:hover {
    background: var(--accent);
    color: var(--dark);
}